keyvault:
  name: VAULTNAME
  url: https://VAULTNAME.vault.azure.net/
certs:
  - cn: example.org
    keyalgo: rsa
    privkey: /etc/ssl/private/example.org.rsa.key
    cert: /etc/ssl/certs/example.org.rsa.crt.pem
    chain: /etc/ssl/certs/example.org.rsa.chain.pem
    fullchain: /etc/ssl/certs/example.org.rsa.fullchain.pem
    hooks:
      - nginx -s reload
      - killall -HUP haproxy
  - cn: example.net
    keyalgo: ecdsa
    privkey: /etc/ssl/private/example.net.ecdsa.key
    cert: /etc/ssl/certs/example.net.ecdsa.crt.pem
    chain: /etc/ssl/certs/example.net.ecdsa.chain.pem
    fullchain: /etc/ssl/certs/example.net.ecdsa.fullchain.pem
    hooks:
      - nginx -s reload




